.air-toolbar {
    padding: 10px;
    display: flex;
    align-items: center;

    .bar-left {}

    .bar-center {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-item {
            width: 260px;
            margin-left: 6px;

            .ant-select {
                width: 100%;
            }
        }
    }

    .bar-right {
        button {
            margin-left: 6px;
        }
    }
}