.air-toolbar {
    padding: 10px;
    display: flex;
    align-items: center;

    .bar-left {
        button {
            margin-right: 6px;
        }
    }

    .bar-center {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-item {
            width: 200px;
            margin-left: 6px;

            .ant-select {
                width: 100%;
            }
        }

        button {
            margin-left: 6px;
        }
    }
}