.air-group {

    /*  border: 1px solid var(--color-primary);
    box-shadow: var(--border-shadow); */
    border-radius: var(--border-radius);
    padding: 10px;

    .group-title {
        font-size: 17px;
        position: relative;
        text-indent: 10px;
        margin-bottom: 10px;

        &::before {
            content: '';
            width: 6px;
            height: 80%;
            background: var(--color-primary);
            position: absolute;
            top: 10%;
            left: 0;
        }

        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: var(--color-primary);
            position: absolute;
            bottom: -4px;
            left: 0;
        }
    }

    .group-content {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &.columns-1 {
            >* {
                width: 100%;
            }
        }

        &.columns-2 {
            >* {
                margin-right: 2%;
                width: 48%;
            }
        }

        &.columns-3 {
            >* {
                margin-right: 2%;
                width: 31%;
            }
        }
    }
}