@keyframes dialog-in {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dialog-shake {
    0% {
        transform: scale(1.05);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes panel-in {
    0% {
        transform: translateX(-12px);
        opacity: .2;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}