.wrapper {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .25);
    // backdrop-filter: blur(3px);
}

.dialog {
    position: absolute;
    inset: 20%;
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadow);
    overflow: hidden;
    animation: dialog-in var(--transition-duration);
    display: flex;
    flex-direction: column;

    &.full {
        width: 100% !important;
        height: 100% !important;
        inset: 0 !important;
        border-radius: 0;
    }


    .header {
        background: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        user-select: none;
        cursor: grab;

        .title {
            font-size: 17px;
            font-weight: bold;
        }

        .ctrls {
            .ctrl {
                display: inline-block;
                padding: 0 5px;
                font-size: 19px;
                cursor: pointer;
                transition: var(--transition-duration);

                &:hover {
                    color: var(--color-primary)
                }
            }
        }
    }

    .dialog_body {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .footer {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
            margin-left: 10px;
        }
    }
}